<ion-view>

  <ion-nav-bar class="bar-positive">
    <ion-nav-title>
      Smart App
    </ion-nav-title>

    <ion-nav-buttons side="left">
      <button class="button icon ion-ios-arrow-back" ng-click="btnBack()">Back</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button icon-right ion-ios-arrow-forward" ng-click="btnOK()">OK</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="">
      <div class="col">
        <img src="img/person.png" class="imgPerson">

        <div class="item-input-inset">
          <p class="text1">Name</p>
          <label class="textbox"><input type="text" placeholder="Touch here to edit.">Mr. John Doe </label>
        </div>

        <div class="item-input-inset">
          <p class="text1">Birth</p>
          <label class="textbox"><input type="date" placeholder="Touch here to edit.">25/02/1994 Ages : 23</label>
        </div>

        <div class="item-input-inset">
          <p class="text1">Phone</p>
          <label class="textbox"><input type="text" placeholder="Touch here to edit.">2504</label>
        </div>

        <div class="item-input-inset">
          <p class="text1">Mobile</p>
          <label class="textbox"><input type="text" placeholder="Touch here to edit.">090-189-7238</label>
        </div>
        <br>
      </div>
    </div>

  </ion-content>

</ion-view>
