<ion-view>

  <ion-nav-bar class="bar-positive">
    <ion-nav-title>
      Smart App
    </ion-nav-title>

    <ion-nav-buttons side="left">
      <button class="button icon ion-ios-arrow-back" ng-click="btnBack()">Back</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <button class="button icon-right ion-ios-arrow-forward" ng-click="btnEdit()">Edit</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <img src="img/person.png" class="imgPerson">
    <br>
    <div class="text-center">Mr. John Doe</div>
    <br>
    <div class="list">
      <div class="item item-icon-left">
        <i class="icon ion-calendar"></i>Birth : 25/02/1994  Ages : 23</div>
      <div class="item item-icon-left">
        <i class="icon ion-card"></i>Room : 2504</div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>Phone : 2504</div>
      <div class="item item-icon-left">
        <i class="icon ion-iphone"></i>Mobile : 090-189-7238</div>
    </div>

  </ion-content>

</ion-view>
